# Dependencias y archivos generados (en toda la aplicación)
node_modules
/.pnp
.pnp.js

# Directorios de build y testing
/target/
/build/
/coverage

# Archivos y carpetas de configuración del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
*.swp

# Archivos de configuración específicos de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales de IDEs
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Archivos generados por Eclipse
/.settings/
/.metadata/
/tmp/
/bin/
/.target/

# Archivos de compilación Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Archivos de compilación Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Archivos específicos de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Archivos específicos de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos de compilación y otros de Java (por ejemplo, BlueJ, PyDev, etc.)
*.ctxt
*.mtj.tmp/
*.pydevproject
*.buildpath
*.launch
