rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura en la colección 'users' para todos
    match /users/{userId} {
      allow read: if true; // Permitir lectura a todos
    }
    
    // Bloquear todas las demás lecturas y escrituras
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
